@forward "./intro.scss";
@forward "./aboutMe.scss";

.about-container {
  position: relative;

  width: 100%;

  align-items: flex-start;
  justify-content: center;

  overflow: hidden;
}
.about-container__intro {
  flex: 3.3 1 0;
  flex-wrap: wrap;

  margin: auto;
}
.about-container__about-me {
  flex: 6.7 1 0;
  height: 100%;
}
