.intro {
  &__profile {
    display: flex;
    flex-direction: column;

    .cover {
      overflow: hidden;
      display: flex;

      background-color: transparent;

      img {
        margin: auto;
      }
    }
    .tag {
      display: flex;
      flex-direction: column;
      justify-content: center;

      :first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }
      div {
        font-style: italic;
        background-color: var(--firstColor);
        font-size: 10px;
        text-align: center;
      }
    }
  }
  &__name {
    display: flex;
    flex-direction: column;
    margin: auto 0;

    .first-text {
      color: var(--foreground);

      font-size: 24px;
    }

    .sec-text {
      color: var(--foreground);
      margin-top: 4px;
      font-size: 24px;
    }
  }

  &__desc {
    position: relative;
    color: var(--mainColor);
    @media (max-width: 768px) {
      display: none;
    }
    .text {
      position: relative;
    }

    .first-text {
      color: var(--foreground);
    }
    .sec-text {
      font-size: 32px;
      color: var(--mainColor);
      // text-decoration: var(--foreground) underline;
      // text-underline-position: under;
      :last-child {
        color: var(--foreground);
      }
    }

    .cursor {
      position: relative;
      bottom: 6px;
      border-left: 3px solid var(--foreground);
      animation: blink 1s step-start infinite;
      margin-left: 3px;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
  }
}
