.overlay-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  width: 50%;

  background: var(--secBackground);
}
.overlay-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 50%;

  background: var(--background);
}
