.project-container {
  background: linear-gradient(355deg, rgba(255, 224, 195, 1) 0%, rgba(78, 215, 101, 0.25) 100%);
  position: relative;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: end;

  overflow: hidden;
  .grid-view {
    position: absolute;
    justify-content: center;

    overflow: hidden;

    width: 100%;
    height: 50%;

    perspective: 1000px;
    z-index: 3;

    .project-card {
      position: relative;
      margin-top: auto;
      width: 30%;
      height: 80%;
      background-color: white;
      cursor: pointer;
      transition: all 0.3s ease;
      transform-origin: center;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          $translateY: 0px;
          $rotation: -20deg * (3 - $i);

          @if $i == 1 or $i == 5 {
            margin-bottom: -100px;
            $translateY: 120px;
          } @else if $i == 2 or $i == 4 {
            margin-bottom: -50px;
          } @else {
            margin-bottom: 0;
          }

          transform: rotate($rotation) translateY($translateY);

          &:hover {
            transform: scale(1.1) rotate($rotation) translateY(calc($translateY));
          }
        }
      }
      &:hover {
        z-index: 5;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .selected-view {
    position: absolute;
    width: 90%;
    height: 70%;
    z-index: 5;
    background-color: white;

    top: 100%;
    left: 50%;

    transform: translate(-50%, -50%);

    transition: top 0.5s ease-out, transform 0.5s ease-out;

    &.slide-up {
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .main-project {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }
  }
}
