.dots-container {
  position: fixed;
  top: 0;
  right: 16px;
  height: 100%;

  background-color: transparent;

  &-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  &-items {
    display: flex;
    flex-direction: column;
    height: 100;
    align-items: center;
    justify-content: center;
  }
}

.dot-item-container {
  width: 10px;
  height: 10px;

  margin: 4px 0px;

  background: var(--foreground);
  opacity: 0.2;

  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.dot-item-container.selected {
  opacity: 0.5;
  background: var(--mainColor);
}

.dot-item-inner {
  position: relative;
  border-radius: 99px;
  background: var(--pointColor);
  cursor: pointer;
}
