.dots-container {
  position: fixed;
  top: 0;
  right: 16px;
  height: 100%;

  background-color: transparent;

  &-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  &-items {
    display: flex;
    flex-direction: column;
    height: 100;
    align-items: center;
    justify-content: center;
  }
}

.dot-item-container {
  width: 24px;
  height: 24px;

  margin: 6px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot-item-container.selected {
  transition: transform 0.35s;
  transform: scale(1.3);
}

.dot-item-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dot-item-inner > img {
  z-index: 1;
}
.dot-item-inner > div {
  position: absolute;
  bottom: -4px;
  background: transparent;
  transition: background 0.5s ease-in-out;
}

.dot-item-inner > div.selected {
  height: 12px;
  width: 24px;

  background-color: var(--foreground);
  opacity: 0.3;
}
