.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  overflow: hidden;
  &__name {
    text-align: center;

    .first-text {
      color: var(--maincolor);
      font-size: 16px;
      letter-spacing: 4px;
    }

    .sec-text {
      margin-top: 12px;
      font-size: 40px;
    }
  }

  &__desc {
    margin-top: 20px;
    position: relative;
    font-size: 32px;

    color: var(--maincolor);
    .text {
      position: relative;
    }

    .first-text {
      color: var(--foreground);
    }
    .sec-text {
      font-size: 36px;
    }

    .cursor {
      position: relative;
      bottom: 6px;
      border-left: 3px solid var(--maincolor);
      animation: blink 1s step-start infinite;
      margin-left: 3px;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
  }
}
