@forward "./divider.scss";
@forward "./stacks.scss";
@forward "./timeLine.scss";

.desc {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--foreground);

  overflow: auto;
  overscroll-behavior: contain;
  &_intro {
    :nth-child(1) {
      flex: 1 99 70%;
    }
    :nth-child(2) {
      flex: 1 99 30%;

      span {
        line-height: 1.5;
      }
    }
  }

  &_info {
    > :nth-child(1) {
      flex: 1 99 30%;
    }
    > :nth-child(2) {
      flex: 1 99 30%;
    }
    > :nth-child(3) {
      flex: 1 99 30%;
    }
  }

  &_fe-stack {
    > :nth-child(1) {
      flex: 1 99 100%;
    }
  }

  &_etc-stack {
    > :nth-child(1) {
      flex: 1 99 100%;
    }
  }
}
