.divider {
  height: 24px;
  width: calc(90%);
  white-space: nowrap;
}

.divider::before {
  position: relative;

  min-width: 5%;
  max-width: 5%;

  border-top: 1px solid;
  border-top-color: inherit;

  transform: translateY(50%);

  margin-right: 5px;
  content: "";
}

.divider::after {
  position: relative;
  width: 95%;

  border-top: 1px solid;
  border-top-color: inherit;

  transform: translateY(50%);

  margin-left: 5px;
  content: "";
}
