.divider {
  height: 24px;
  border-top-color: rgba(0, 0, 0, 0.2);
  white-space: nowrap;

  &-items {
    display: inline-block;
    text-align: left;
  }
}
.divider::before {
  position: relative;
  min-width: 8px;
  width: 32px;
  border-top: 1px solid transparent;
  border-top-color: transparent;
  border-top-color: inherit;
  border-bottom: 0;
  transform: translateY(50%);
  content: "";
}

.divider::after {
  position: relative;
  width: 95%;
  border-top: 1px solid transparent;
  border-top-color: transparent;
  border-top-color: inherit;
  border-bottom: 0;
  transform: translateY(50%);
  content: "";
}
